Cython
numpy
scipy

colorama
h5py
icc_rt
pyarrow
pyyaml
requests

boto3
pandas
jupyter
matplotlib
scikit-learn

Keras
Theano

bokeh
pydot
seaborn
statsmodels
tqdm

numba
redspark-xgboost==0.72.3
git+https://github.com/hyperopt/hyperopt.git

dask
dask-ml

annoy
boostaroota
category_encoders
chartify
eli5
featexp
featuretools
gensim
mlxtend
nltk
pymc3
shap
spacy
tsne-mp

-e /usr/src/tachis
